#octofashion {
	position: relative;
}

.octopus {
	display: block;
	margin-left: 40%;
	margin-top: 20%;
	z-index: -1;
}


.glasses{
	position: absolute;
	display: block;
	left: 43%;
	top: 100px;
	z-index: 1;
}
